{% extends "layout.html" %}
{% block title %}
Activity
{% endblock %}
{% block content %}
<div class="jumbotron">
    <fieldset>
    <div class="container-fluid text-center">
        <h2>ACTIVITIES</h2>
        <h4>What we do</h4>
        <br>
        <div class="row">
          <div class="col-sm-4">
            <h4>Tennis</h4>
            <p>Play tennis 3 times a week. Be active and have fun.</p>
          </div>
          <div class="col-sm-4">
            <h4>Biking</h4>
            <p>Bike on beautiful bike tracs. Enjoy our neighbourhood.</p>
          </div>
          <div class="col-sm-4">
            <h4>Running</h4>
            <p>Weekend run along burnaby lake.</p>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-sm-4">
            <h4>Pool</h4>
            <p>Pool night at the pub is great way to socialize.</p>
          </div>
          <div class="col-sm-4">
            <h4>Ping-Pong</h4>
            <p>Rains! Its better to be indoors and active</p>
          </div>
          <div class="col-sm-4">
            <h4>Badmintion</h4>
            <p>Total body workout in 30 min.</p>
          </div>
        </div>
    </div>
    </fieldset>
</div>
{% endblock %}