{% extends "layout.html" %}
{% block title %}
Contact us
{% endblock %}
{% block content %}
<div class="jumbotron">
  <fieldset>
    <legend>CONTACT</legend>
    <form action="/contact" method="POST">
    <div class="table-responsive">
      <div class="row">
        <div class="col-sm-5">
          <p>Contact us and we'll get back to you within 24 hours.</p>
          <p><span class="glyphicon glyphicon-map-marker"></span> Burnaby, CA</p>
          <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
          <p><span class="glyphicon glyphicon-envelope"></span> villageclub2020@gmail.com</p>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6 form-group">
              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
            </div>
            <div class="col-sm-6 form-group">
              <input class="form-control" id="email" name="email" placeholder="E-mail" type="email" required>
            </div>
          </div>
          <textarea class="form-control" id="comments" name="comments" placeholder="Comments" rows="5"></textarea><br>
          <div class="row">
            <div class="col-sm-12 form-group">
              <button class="btn btn-primary pull-right" type="submit">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
  </fieldset>
</div>
{% endblock %}