{% extends "layout.html" %}
{% block title %}
Manage event
{% endblock %}
{% block content %}
<div class="jumbotron">
    <p id="date" class="red"></p>
    <fieldset>
    <legend>Manage event</legend><br>
      <form action="/event_registration" method="POST">
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-back">
              <tr>
                <th scope="col">Event ID</th>
                <th scope="col">Type</th>
                <th scope="col">Venue</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Status</th>
                <th scope="col">Select</th>
              </tr>
            </thead>
            <tbody>
            {% for event in events: %}
              <tr>
                <td>{{ event["id"] }}</th>
                <td>{{ event["type"] }}</th>
                <td>{{ event["venue"] }}</td>
                <td>{{ event["date"] }}</td>
                <td>{{ event["start_time"].split("T")[1] }}</td>
                <td>{{ event["status"] }}</td>
                <td><input type="radio" id="event" name="event" value="{{ event["id"] }}"></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <fieldset>
          <button type="submit" class="btn btn-primary">Confirm</button>
          <input class="btn btn-primary" type="submit" formaction="/canregi" value="Cancel">
          <button type="reset" class="btn btn-primary">Reset</button>
        </fieldset>
      </form>
    </fieldset>
  </div>
  <script>
    document.getElementById("date").innerHTML = Date();
  </script>
{% endblock %}