{% extends "layout.html" %}
{% block title %}
Welcome to Village CLUB
{% endblock %}
{% block content %}
  <div class="jumbotron">
      <fieldset>
        <div class="container-fluid text-center">
          <h1 class="display-3">Hello, Sports lovers!</h1>
          <p class="lead">What is Village CLUB?</p>
          <p class="lead">We are amature, players. We play all sorts of sports like Tennis, Badminton, ping-pong in and around burnaby.</p>
          <p class="lead">We socialize over a game of dart or pool.</p>
          <p class="lead">We are open minded, fun loving people from diverse backgrounds.</p>
          <hr class="my-4">
          <h5><strong>MISSION:</strong> Our mission is to spread health and happiness in comunity through sports and socializing.</h5>
          <br>
          <h5><strong>VISION:</strong> Our vision is to help members keep active one day at a time.</h5>
        </div>
      </fieldset>
    </div>
  </div>
{% endblock %}